body {
    font-family: Verdana;
    font-size: 10pt
}

header {
    background: #efefef;
    padding: 0.5em;
    float: left;
    margin: 0 3em 0 0;
}

section {
	float: left;
}

footer {
	clear: both;
    border-top: 1px solid #ccc;
    padding-top: 1em;
}
