body {
    margin: 0;
    padding: 0;
}

body, table {
    font-family: Verdana;
    font-size: 10pt;
    text-align: left;
}

nav {
    background: #efefef;
    padding: 1%;
    float: left;
    margin: 0;
    width: 23%;
    overflow: scroll;
}

section {
	float: left;
    width: 73%;
    padding: 1%;
}

footer {
	clear: both;
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ol ol {
    padding: 0 0 0 20px;
}

.js-expander {
    background: white;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 10px;
    margin-right: 4px;
    cursor: pointer;
    font-family: monospace;
}

li.selected > a {
    font-weight: bold;
}
