body {
	margin: 0;
	padding: 0;
}

body, table {
	font: .875em/1.35 'Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	text-align: left;
}

/**
 * Left side navigation
 */

nav {
	background: #efefef;
	padding: 1%;
	float: left;
	margin: 0;
	width: 33%;
	overflow: scroll;
}

nav ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ol ol {
	padding: 0 0 0 20px;
	clear: both;
}

.js-expander {
	background: white;
	border: 1px solid black;
	cursor: pointer;
	display: block;
	float: left;
	font-family: monospace;
	height: 10px;
	line-height: 10px;
	margin: 2px 4px 0 0;
	text-align: center;
	width: 10px;
}

nav a {
	display: block;
	float: left;
	white-space: nowrap;
}

nav li {
	clear: both;
}

li.selected > a {
	font-weight: bold;
}

li.leaf > a {

	margin-left: 16px;
}

/**
 * Main area
 */

section {
	float: left;
	width: 63%;
	padding: 1%;
}

footer {
	clear: both;
	border-top: 1px solid #ccc;
	padding-top: 1em;
}

ol.inherited {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol.inherited li {
	display: block;
	float: left;
	min-width: 20%;
}

ol.inherited:after {
	content:'';
	display:table;
	clear: both;
}
